@media (max-width: 500px) {
  .navbar ul {
    display: none;
    margin: 0;
  }

  .navbar ul li {
    width: 100%;
    padding: 10% 30%;
  }

  header {
    margin: 0;
    padding: 0;
  }

  .navbar {
    margin: 0 !important;
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .menu-icon {
    display: inline-block;
  }

  .navbar .logo img {
    width: 60%;
  }

  main .hero-area {
    height: 75vh;
  }

  main .hero-area p {
    font-size: 20px;
  }

  main .hero-area h1 {
    font-size: 40px;
  }

  main .hero-area .trusted .read-more {
    background-color: #02adf3;
    padding: 2vh 5vh;
  }

  footer {
    display: grid;
  }

  .foot {
    display: grid;
    line-height: 2;
  }

  .foot .quick-links {
    display: none;
  }

  .card-area {
    display: grid;
    gap: 2rem;
    margin-top: -120vh;
  }

  .card {
    width: 90%;
    margin-left: 5%;
  }

  .working {
    display: none;
  }

  .about {
    display: grid;
  }

  .about_about {
    display: grid;
    width: 100%;
    margin: 5%;
    text-align: center;
  }

  .about .sub-about {
    width: 90%;
  }

  .about .management-card {
    width: 90%;
    padding: 0;
  }

  .services {
    height: auto;
    margin-top: 5vh;
    padding-bottom: 5vh;
  }

  .service {
    display: grid;
    width: 90%;
    margin-left: 5%;
    gap: 2rem;
  }
}

/*====================TABLETS===================*/
@media (max-width:768px) and (min-width:501px) {
  .navbar ul {
    display: none;
    margin: 0;
  }

  .navbar ul li {
    width: 100%;
    padding: 10% 40%;
  }

  header {
    margin: 0;
    padding: 0;
  }

  .navbar {
    margin: 0 !important;
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  main .hero-area p {
    font-size: 25px;
  }

  main .hero-area h1 {
    font-size: 50px;
  }

  main .hero-area .trusted .read-more {
    background-color: #02adf3;
    padding: 3vh 6vh;
  }

  .menu-icon {
    display: inline-block;
  }

  .navbar .logo img {
    width: 60%;
  }

  footer {
    display: grid;
  }

  .foot {
    display: grid;
    line-height: 2;
  }

  .foot .quick-links {
    display: none;
  }

  .card-area {
    display: grid;
    gap: 2rem;
    margin-top: -80vh;
  }

  .card {
    width: 90%;
    margin-left: 5%;
  }
}

@media (max-width:990px) and (min-width:769px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar ul {
    display: flex;
    justify-content: space-between;
  }
}