body {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:roots {
  --ButtonFontSize: 17px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  transition: background-color 1s ease;
  background-color: #1b76ff;
  margin: 0;
  padding: 0 5%;
  position: fixed;
  text-align: center;
  top: 0%;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.navbar .logo a {
  font-size: 50px;
  font-family: Agency FB;
  color: white;
}

.navbar ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li a {
  color: white;
  font-size: var(--ButtonFontSize);
}

.inverted {
  background-color: #fff;
  box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, 0.1);
  height: 7vh;
}

.inverted .navbar .logo a {
  color: #1b76ff;
}

.inverted .navbar ul li a {
  color: #1b76ff;
}

main {
  height: 200vh;
}

/*=================BACK TO TOP=====================*/
#button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b76ff;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  font-size: 20px;
  color: white;
  font-weight: bolder;
}

#button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #1b76ff;
  box-shadow: 2px 2px 10px #1b76ff;
}

#button .show {
  opacity: 1;
  visibility: visible;
}

/*===================HOVER ANIMATION=======================*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  top: 25px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.inverted .hover-underline-animation::after {
  background-color: #1b76ff;
}